<div class="col-md-7 left-pane">

</div>

<div class="right-pane col-md-5">
  <div class="login-card">
      <div class="head-img">
        <img src="../../../assets/images/fork-spoon.svg" alt="">
      </div>
      <form class="">
        <div class="form-group">
          <input class="form-control" type="text" name="username" placeholder="username">
        </div>
        <div class="form-group">
          <input class="form-control" type="password" name="password" placeholder="password">
        </div>
        <button class="loging-btn" type="submit" value="submit" name="button" md-raised-button>Login</button>
      </form>
  </div>
</div>
