/* You can add global styles to this file, and also import other style files */
.example-container {
  width: 500px;
}

.example-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

body{
  margin: 0px;
}

.left-pane{
  background-image: url('./assets/images/food-home.jpg');
  height: 100vh;
}

.right-pane{
  background-color: #00BFA5;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card{
  width: 70%;
}
.button-full-width{
  width:80%;
}
.thumbnail{
  padding: 30px;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Catamaran', sans-serif !important;
  color: white;
}
p, a, input{
  font-family: 'Catamaran', sans-serif !important;
  font-weight: 300;
}
.head-img{
  text-align: center;
  padding-bottom: 1em;
}
.head-img img{
  width: 20%;
}
.right-pane .form-control{
  background-color:#00BFA5;
  border: 1px solid #009688;
  color: #ECEFF1;
  letter-spacing: 2px;
}
.right-pane .form-control::placeholder{
  color: #455A64;
}

.right-pane input.form-control:focus{
  border: 1px solid #455A64;
  outline: none;
  color: #ECEFF1;
}
button.loging-btn{
  width: 100%;
  background-color: #455A64;
  color: white;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
    box-shadow: none !important;
}
